.news {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 40px;
}

.news__list {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 20px;
}

.news__pages {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.news-block {
  overflow: hidden;
}

.news-block .news {
  row-gap: 0;
}

@media (min-width: $tablet) {
  .news__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: $desktop) {
  .news__it {
    display: grid;
    grid-template-columns: 188px minmax(0, 1fr);
    grid-template-rows: 1fr auto;
    gap: 20px;

    .news-short__img {
      margin-bottom: 0;
      grid-row: 1/3;
      height: auto;
      aspect-ratio: 1/1;
    }

    .news-info {
      flex-direction: column;
      align-items: flex-start;
    }

    .news-info__view {
      order: -1;
    }
  }

  .news {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 345px;
    grid-template-rows: auto 1fr;
  }

  .news__form,
  .news__aside {
    position: relative;
    grid-column: 2;
    grid-row: 1/3;
  }

  .logo-bg {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 145px;
      left: calc(50% + 160px);
      width: 504px;
      height: 529px;
      background-size: 504px 529px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='134' height='140' viewBox='0 0 134 140' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.08824 101.633C17.0748 117.626 43.6009 126.936 63.0485 124.071C82.4962 121.206 93.703 115.373 105.84 103.554C93.8553 97.8449 82.3839 92.3792 70.3955 86.6697C83.5864 79.3501 95.5628 77.2525 95.5628 77.2525C99.098 83.9169 104.084 92.6069 107.732 99.2074C107.92 99.551 108.221 99.8307 108.469 100.146C116.934 89.7462 126.342 73.7764 124.313 52.6686C123.752 46.8352 122.646 40.2827 120.013 33.7422C138.57 63.0607 133.244 83.0019 129.873 93.446C124.991 107.522 118.802 114.258 110.581 122.445C100.437 132.074 74.8165 145.475 44.7111 137.635C35.1236 135.138 25.2675 129.944 17.684 122.892C10.0084 116.679 2.56521 103.099 2.08423 101.629L2.08824 101.633Z' fill='white'/%3E%3Cpath d='M0 40.626C14.5937 7.6797 42.6509 1.95024 49.2284 0.987344C61.301 -0.778637 69.3494 -0.327153 81.7747 3.58038C103.796 10.4405 118.967 31.4485 121.367 41.1774C125.155 54.7379 123.448 68.2065 123.243 68.8937C117.443 40.1026 96.2161 19.6021 72.4156 13.2973C46.1821 7.54785 23.8967 15.4189 0 40.626Z' fill='white'/%3E%3Cpath d='M45.617 24.197C25.2875 29.7387 17.2832 42.5081 13.251 50.2672C7.73175 61.5064 8.13256 73.7564 11.76 84.1005C13.6478 89.4784 17.8965 94.225 17.8965 94.225C15.5517 87.7923 14.1649 81.947 14.1047 76.2735C15.6038 77.7278 17.648 78.6228 19.9046 78.6228C21.612 78.6228 23.6041 78.0075 24.9228 77.1285C24.9228 77.1285 25.035 78.1833 25.1352 78.8945C25.8607 84.1285 27.5802 89.0389 30.0412 93.7695C29.6204 90.4733 29.2877 80.5246 30.5382 74.1439C32.0613 66.3648 42.7872 51.302 53.6013 49.2644C53.6013 49.2644 63.4012 31.1211 66.7841 23.4978C66.7841 23.4978 56.0983 21.3323 45.625 24.189L45.617 24.197ZM26.2174 64.9344C24.6903 63.1605 22.4297 62.0338 19.9046 62.0338C19.159 62.0338 18.4376 62.1416 17.7482 62.3254C19.1751 57.5069 22.097 52.9881 25.4198 49.2324C25.8166 52.2769 28.8388 55.0577 31.6445 55.9887C29.3638 58.6736 27.456 61.5783 26.2174 64.9344ZM43.8814 45.7723C43.5167 44.7175 43.0277 43.7227 42.3183 42.8437C41.5166 41.4852 39.9174 40.0509 38.5466 39.2638C42.6389 36.1793 48.7794 33.9019 55.6935 33.7381C54.7396 35.0566 53.8778 37.2061 53.8417 38.9481C53.8417 38.9881 53.8377 39.028 53.8337 39.068C53.8337 39.084 53.8337 39.1 53.8337 39.1159C53.8337 39.1359 53.8337 39.1599 53.8337 39.1799C53.8257 39.5035 53.8337 39.8391 53.8538 40.1747C53.8778 40.7661 53.9339 41.3414 54.0301 41.8848C50.1863 42.4761 46.3064 44.31 43.8814 45.7683V45.7723Z' fill='white'/%3E%3Cpath d='M69.6219 17.8602C71.7302 21.8637 87.9072 54.1348 93.707 65.6376C93.707 65.6376 103.872 67.3876 114.638 74.072C113.96 74.072 113.279 74.072 112.602 74.072C97.7834 74.1199 83.386 76.6051 69.4817 81.7033C53.3007 86.8774 31.6085 100.726 24.0691 106.743C24.3897 105.928 67.4175 22.6028 69.6219 17.8642V17.8602ZM56.3268 72.0663C58.6676 70.4881 70.0067 67.1199 80.9851 65.2341C77.494 58.5457 73.9187 52.6605 70.0228 45.197C65.4254 53.9909 60.6356 63.8237 56.3268 72.0663Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }

  .news__form-form {
    position: sticky;
    top: 0;
    width: 100%;
  }

  .news-block__btn {
    margin-left: auto;
  }
}
