:root {
  --white: #ffffff;
  --text: #313036;
  --color: #a80000;
  --grey: #80828F;
  --grey-red: #EBDADA;
  --middle-grey: #cccdd2;
  --light-greay: #F2F2F2;
}


$tablet: 768px;
$desktop: 1024px;
$container: 1450px;


@media (min-width: $tablet) {
  :root {}
}


@media (min-width: $desktop) {
  :root {}
}