:root {
  --white: #ffffff;
  --text: #313036;
  --red: #a80000;
  --red-dark: #731010;
  --grey: #80828F;
  --grey-2: #F2F2F2;
  --grey-red: #EBDADA;
  --middle-grey: #cccdd2;
  --light-greay: #F2F2F2;
  --padding: 15px;
}


$tablet: 768px;
$desktop: 1024px;
$container: 1460px;


@media (min-width: $tablet) {
  :root {}
}


@media (min-width: $desktop) {
  :root {}
}