.label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label__name {
  order: -1;
  font-size: 12px;
  font-weight: 700;
}

.label__wrapper {
  display: flex;
  min-height: 35px;
  padding: 3px;
  background-color: var(--white);
  border-radius: 20px;
  border: 2px solid var(--white);
  transition: border-color 0.3s;

  &:hover,
  &:focus,
  &:focus-within {
    outline: none;
    border-color: var(--text);
  }
}

.label--grey .label__wrapper {
  background-color: var(--light-grey);
  border: 2px solid var(--light-grey);
}

.label--full {
  grid-column: 1/-1;
}

.label__input {
  padding: 5px 12px 5px 12px;
  height: 100%;
  width: 100%;
  font-size: 14px;
  border: 0;
  background-color: transparent;

  &:hover,
  &:focus,
  &:focus-within {
    outline: none;
  }
}

.label__ico {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--grey);
  aspect-ratio: 1;
}

.label-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.label-checkbox__input {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 2px solid var(--white);
  background-color: var(--white);
  background-repeat: no-repeat;
  background-size: 13px 10px;
  background-position: center;

  &:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 13 10'%3E%3Cpath fill='%23313036' d='M12.44.165a.667.667 0 0 0-.941.063l-7.1 8.113-3.246-3.464a.667.667 0 0 0-.973.913l3.75 4a.67.67 0 0 0 .487.21h.011a.665.665 0 0 0 .491-.227l7.584-8.667a.667.667 0 0 0-.063-.941Z'/%3E%3C/svg%3E");
  }
}

.label-checkbox__input[type="radio"] {
  border-radius: 20px;

  &:checked {
    background-size: 28px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 31.955 31.955'%3E%3Ccircle cx='15.979' cy='15.977' r='6.117' fill='%23a80000'/%3E%3C/svg%3E");
    
  }
}

@media (min-width: $desktop) {
  .label__wrapper {
    min-height: 40px;
  }
}
