.short-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 60px 7px 24px 7px;
  border-radius: 20px;
  border: 1px solid var(--white);
}

.short-card__actions {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 8px;
  display: flex;
  gap: 5px;
}

@media (hover: hover) {
  .short-card:hover {
    border-color: var(--blue-gray);
  }
}

.short-card__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.short-card__producer {
  position: absolute;
  top: -12px;
  right: -12px;
  // height: 20px;
  width: auto;
  max-width: 40px;
  width: 100%;
}

.short-card__tags {
  position: absolute;
  z-index: 1;
  top: 51px;
  left: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: calc(100% - 60px);
}

.short-card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.short-card__name {
  margin-bottom: 5px;
  font-size: 16px;
  color: var(--text);
}

.short-card__text {
  flex-grow: 1;
  font-size: 16px;
  margin-bottom: 9px;
}

.short-card__price {
  display: flex;
  align-items: flex-end;
  margin-bottom: 13px;
  gap: 4px;
  font-size: 20px;
  font-weight: 700;

  span {
    font-size: 16px;
  }
}

.short-card__qty {
  display: none;
}

.short-card__btns--in {
  .short-card__qty {
    display: flex;
  }

  .btn__icon {
    display: none;
  }

  .btn__in {
    display: flex;
  }

  .btn--buy {
    color: var(--red);
    background-color: var(--white);
  }
}

.short-card__img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  margin-bottom: 27px;

  img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.short-card__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 65px;
}

@media (min-width: $desktop) {
  .short-card {
    padding: 20px;
  }
}
