@import "top-menu/top-menu.scss";
@import "users/users-it/users-it.scss";
@import "users/users.scss";

.header {
  display: flex;
  flex-direction: column;
}

.header.catalog-opened {
  z-index: 11;
  position: relative;
}

.header__top {
  background-color: var(--grey);
}

.header__mobile-it {
  margin-right: auto;
}

.header__btm-container {
  display: flex;
}

@media (max-width: calc($desktop - 1px)) {
  .header__catalog-toggler {
    flex-basis: 100%;
  }

  .header__catalog-toggler.opened {}
}

@media (min-width: $desktop) {
  .header__catalog-toggler {
    display: none;
  }
}

@media (max-width: calc($container - 1px)) {
  .header__top-menu {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 2;
    padding-top: 14px;
    width: 100%;
    order: 3;
    height: calc(100svh - 301px);
    overflow-y: auto;
    background-color: var(--grey);
    transform: translate3d(-200svw, 0, 0);
    transition: transform 0.3s;
    overscroll-behavior: contain;
  }
  
  .header__top {
    position: absolute;
    top: calc(100svh - 281px);
    left: 0;
    width: 100%;
    order: 1;
    padding-block: 50px;
    transform: translate3d(-200svw, 0, 0);
    transition: transform 0.3s;
  }

  .header__mobile {
    background-color: var(--grey);
    padding-block: 5px;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  @media (min-width: $desktop) {
    .header__top-menu {
      height: 200px;
    }

    .header__top {
      top: calc(100svh - 200px);
      width: calc(100% - var(--left-size));
    }

    .header__top-menu {
      width: calc(100% - var(--left-size));
      height: calc(100svh - 240px);
      overflow-y: auto;

    }
  }

  .header__mobile-logo {
    display: none;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin-right: 200px;
  }

  .header__mobile-btns {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header.menu-opened {
    z-index: 11;

    .header__top-menu,
    .header__top {
      transform: translate3d(var(--left-size), 0, 0);
      z-index: 11;
    }

    .header__mobile {
      z-index: 11;
    }

    .header__catalog-toggler {
      position: absolute;
      left: 46px;
      top: 4px;
      z-index: 11;
    }

    .header__mobile-it {
      display: none;
    }

    .header__mobile-logo {
      display: flex;
    }

    .header__mobile-btn {
      display: none;
    }
  }

  .header__search {
    display: none;
  }

  .header__users {
    margin-left: auto;
  }

  .header__btm {
    padding-block: 10px;
  }

  .header__btm-container {
    flex-wrap: wrap;
    gap: 10px;
  }

  .header__contacts {
    margin-bottom: 40px;
  }
}

@media (min-width: $container) {
  .header__top .container {
    display: flex;
    align-items: center;
    gap: 52px;
    padding-top: 7px;
    padding-bottom: 8px;
  }

  .header__mobile {
    display: none;
  }

  .header__catalog-toggler {
    display: none;
  }

  .header__search {
    flex-grow: 1;

    .search {
      max-height: 50px;
    }
  }

  .header__btm {
    padding-block: 20px;
  }

  .header__btm-container {
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .header__contacts {
    flex-grow: 1;

    .place {
      margin-right: auto;
    }
  }
}