.header {
  display: flex;
  flex-direction: column;
}

.header__mobile {
  background-color: var(--grey);

  .container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 5px;
  }
}

.header__top {
  background-color: var(--grey);
}

.header__mobile-it {
  margin-right: auto;
}

.header__btm-container {
  display: flex;
}

@media (max-width: calc($desktop - 1px)) {
  .top-menu {
    display: none;
  }

  .header__search {
    display: none;
  }

  .header__logo {
    display: flex;
    margin-right: auto;
    width: 155px;
    height: 35px;
  }

  .header__btm {
    padding-block: 8px;
  }

  .header__btm-container {
    flex-wrap: wrap;
    gap: 8px;
  }

  .header__top {
    order: 1;
    padding-block: 50px;
  }

  .header__contacts {
    margin-bottom: 40px;
  }

  .header__catalog-toggler {
    flex-basis: 100%;
  }
}

@media (min-width: $desktop) {
  .header__top .container {
    display: flex;
    align-items: center;
    gap: 52px;
  }

  .header__catalog-toggler {
    display: none;;
  }

  .header__logo { 
    display: none;
  }

  .header__search {
    flex-grow: 1;
  }

  .header__btm { 
    padding-block: 20px;
  }

  .header__btm-container {
    gap: 40px;
  }

  .header__contacts {
    flex-grow: 1;

    .place {
      margin-right: auto;
    }
  }
}