.category__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.category__pages{
  display: flex;
  justify-content: center;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.category__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
  gap: 5px 10px;
}

@media (min-width: $tablet) {

  .category__list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px 20px;
  }
}

