.btn {
  display: flex;
  align-items: center;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn--red {
  color: var(--white);
  background-color: var(--red);
}

.btn--square {
  justify-content: center;
  aspect-ratio: 1;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.btn--bordered {
  color: var(--white);
  border: 1px solid var(--white);
}

.btn--dark {
  color: var(--white);
  background-color: var(--text);
}

.btn--rounded {
  justify-content: center;
  padding: 9px 20px;
  font-weight: bold;
  border-radius: 20px;
}