.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  border: 0;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.btn--red {
  color: var(--white);
  background-color: var(--red);
  transition: background-color 0.3s;
}

.btn--square {
  justify-content: center;
  aspect-ratio: 1;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.btn--bordered {
  color: var(--white);
  border: 1px solid var(--white);
  transition: color 0.3s border-color 0.3s;

  &:hover {
    color: var(--grey);
    border-color: var(--grey);
  }
}

.btn--bordered-red {
  color: var(--red);
  border: 1px solid var(--red);
  transition: color 0.3s border-color 0.3s;

  &:hover {
    color: var(--red-dark);
    border-color: var(--red-dark);
  }
}

.btn--dark {
  color: var(--white);
  background-color: var(--text);
}

.btn--rounded {
  justify-content: center;
  padding: 9px 20px;
  width: fit-content;
  font-weight: bold;
  font-size: 14px;
  border-radius: 20px;
}

.btn--white {
  color: var(--text);
  background-color: var(--white);
  border: 1px solid var(--white);

  &:hover {
    color: var(--white);
    background-color: var(--red);
  }
}

.btn--grey {
  color: var(--grey);
  background-color: var(--light-grey);
}

.btn--dark-grey {
  color: var(--white);
  background-color: var(--grey);

  &:hover {
    background-color: var(--text);
  }
}

.btn--arr {
  width: 40px;
  height: 40px;
  color: var(--red);
  background-color: var(--white);
  border: 2px solid var(--red);
  border-radius: 10px;
  justify-content: center;
  transition: border-color 0.3s, color 0.3s;
}

.btn--right {
  transform: scale(-1, 1);
}

.btn--buy {
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 35px;
  padding: 9px;
  color: var(--white);
  background-color: var(--red);
  border: 2px solid var(--red);
  border-radius: 20px;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn__in {
  display: none;
}

.btn--more {
  font-size: 14px;
  color: var(--red);
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 3px;
}

.btn__less {
  display: none;
}

.btn__text-buy {
  display: none;
}

.btn.opened {
  .btn__less {
    display: flex;
  }

  .btn__more {
    display: none;
  }
}

.btn--action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: var(--white);
  background-color: var(--middle-grey);
  border-radius: 10px;
  transition: background-color 0.3s;

  &.active {
    background-color: var(--red);
  }
}

@media (hover: hover) {
  .btn--red:hover {
    background-color: var(--red-dark);
  }

  .btn--arr:hover {
    color: var(--red-dark);
    border-color: var(--red-dark);
  }

  .btn--buy:hover {
    background-color: var(--red-dark);
    border-color: var(--red-dark);
  }

  .btn--more:hover {
    color: var(--red-dark);
  }
  .btn--action:hover {
    background-color: var(--light-red);
  }
}
