.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn--red {
  color: var(--white);
  background-color: var(--red);
  transition: background-color 0.3s;
}

.btn--square {
  justify-content: center;
  aspect-ratio: 1;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.btn--bordered {
  color: var(--white);
  border: 1px solid var(--white);
}

.btn--dark {
  color: var(--white);
  background-color: var(--text);
}

.btn--rounded {
  justify-content: center;
  padding: 9px 20px;
  font-weight: bold;
  border-radius: 20px;
}

.btn--white {
  color: var(--text);
  background-color: var(--white);
}

.btn--grey {
  color: var(--grey);
  background-color: var(--light-grey);
}

.btn--arr {
  width: 40px;
  height: 40px;
  color: var(--red);
  background-color: var(--white);
  border: 2px solid var(--red);
  border-radius: 10px;
  justify-content: center;
  transition: border-color 0.3s, color 0.3s;
}

.btn--right {
  transform: scale(-1, 1);
}

@media (hover: hover) {
  .btn--red:hover {
    background-color: var(--red-dark);
  }

  .btn--arr:hover {
    color: var(--red-dark);
    border-color: var(--red-dark);
  }
}
