.form__btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px 50px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.form__agree {
  font-size: 12px;
  max-width: 50%;

  a {
    color: var(--text);
    text-decoration-style: dashed;
    text-underline-offset: 3px;
  }
}

.form__fieldset {
  display: grid;
  gap: 15px 20px;
  margin-bottom: 14px;
}

.form__fieldset--3cols {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.form__it--bordered .label__wrapper {
  border-color: var(--grey);
}

.form__it--bordered .label-checkbox__input {
  border-color: var(--grey);
}

@media (min-width: $tablet) {
  .form__fieldset--2cols {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .form__agree {
    font-size: 15px;;
  }
}

@media (min-width: $desktop) {
  .form__fieldset {
    margin-bottom: 24px;
    row-gap: 20px;
  }
}
