.tag {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3px 8px;
  font-size: 10px;
  font-weight: 700;
  border-radius: 20px;
}

.tag--green {
  color: var(--green);
  background-color: var(--green-op);
}

.tag--red {
  color: var(--light-red);
  background-color: var(--light-red-op);
}

.tag--yellow {
  color: var(--orange);
  background-color: var(--orange-op);
}
