.items-swiper {
  position: relative;
  min-width: 100%;
  width: 100%;
}

.items-swiper__slider {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding-right: 1px;
}

.items-swiper__wrapper {
  display: flex;
  gap: 20px;
}

.swiper-initialized .items-swiper__wrapper {
  gap: 0;
}

.items-swiper__wrapper .short-card {
  width: 252px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.items-swiper__btn {
  position: absolute;
  top: 189px;
}

.items-swiper__btn.btn--right {
  right: -10px;
}

.items-swiper__btn.btn--left {
  left: -10px;
}
