.items-swiper {
  position: relative;
  min-width: 100%;
  width: 100%;
}

.items-swiper__slider {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.items-swiper__wrapper {
  display: flex;
  gap: 23px;
}

.items-swiper__it {
  flex-basis: 252px;
  flex-shrink: 0;
}

.items-swiper__btn {
  position: absolute;
  top: 189px;
}

.items-swiper__btn.btn--right {
  right: -10px;
}

.items-swiper__btn.btn--left {
  left: -10px;
}
