<div class="views">
  <button class="btn views__btn active" aria-label="change to grid view">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink"  width="20" height="20" aria-hidden="true">
      <use xlink:href="../img/sprite.svg#grid"></use>
    </svg>
  </button>
  <button class="btn views__btn" aria-label="change to list view">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink"  width="20" height="20" aria-hidden="true">
      <use xlink:href="../img/sprite.svg#list"></use>
    </svg>
  </button>
</div>