.views {
  display: flex;
  align-items: center;
  gap: 10px;
}

.views__btn {
  position: relative;

  transition: color 0.3s;

  svg {
    color: var(--blue-grey);
  }

  &.active {
    color: var(--red);
  }
}

.view__input {
  position: absolute;
  opacity: 0;

  &:checked ~ svg {
    color: var(--red)
  }
}