<div class="views js-views">
  <label
    data-view="grid"
    class="btn views__btn"
    aria-label="change to grid view"
  >
  <input class="view__input" type="radio" name="view" value="grid" checked />
    <svg
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="20"
      height="20"
      aria-hidden="true"
    >
      <use xlink:href="../img/sprite.svg#grid"></use>
    </svg>
  </label>
  <label
    data-view="row"
    class="btn views__btn"
    aria-label="change to list view"
  >
    <input class="view__input" type="radio" name="view" value="list" />
    <svg
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="20"
      height="20"
      aria-hidden="true"
    >
      <use xlink:href="../img/sprite.svg#list"></use>
    </svg>
  </label>
</div>
