.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 5px 15px;
  background-color: var(--white);
  border-radius: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 15px;
}
