@import "../html/item/item-top/item-info/item-info.scss";
@import "../html/item/item-top/item-slider/item-slider.scss";
@import "../html/item/item-top/item-short/item-short.scss";
@import "../html/item/item-top/item-top.scss";
@import "../html/item/item-chars/item-chars.scss";
@import "../html/item/delivery-block/delivery-row/delivery-row.scss";
@import "../html/item/delivery-block/delivery-block.scss";
@import "../html/item/alternatives/alternative-it/alternative-it.scss";
@import "../html/item/alternatives/alternatives.scss";

.item-content__el {
 padding: 20px 20px 40px 20px;
 border-radius: 20px;; 
}

.item-content,
.item-content__blocks {
  display: flex;
  flex-direction: column;
  gap: 40px 20px;
}

.item-content__hashes {
  justify-content: flex-start;
}

.item-content__search {
  border: 0;
  border-radius: 10px;
  background-color: var(--light-grey);

  .search__input {
    padding-top: 8px;
    padding-bottom: 9px;
  }
}

.item-content__h3 {
  margin-bottom: 15px;
}


.item-content__stats {
  display: flex;
  align-items: center;
  gap:10px;
  margin-bottom: 10px;
}

.item-content__average {
  display: flex;
  align-items: center;
  white-space: nowrap;
}



@media (min-width: $desktop) {
  .item-content__blocks {
    row-gap: 60px;
  }
}

@media (min-width: 1300px) {

  .item-content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 500px);
  }

  .item-content__aside {
    position: relative;
    padding-top: 54px;

    .item-content__el {
      position: sticky;
      top: 0;
      width: 100%;
    }
  }
}
